 .u-section-1 {
  background-image: url("images/58b2e79150c4cef5050f8ac356d209068946747f547eca007627b5c8085bb63ad7795899b34913d60ce033795efd1be9ea993a63d994181f776ecd_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 796px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 91px 30px 0 auto;
  padding: 7px 21px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
  margin-right: 2px;
}

.u-section-1 .u-text-1 {
  margin: -40px auto 0 13px;
}

.u-section-1 .u-table-1 {
  width: 1115px;
  margin: 18px auto 60px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-1 {
  border-style: double;
}

.u-section-1 .u-table-cell-2 {
  border-style: double;
}

.u-section-1 .u-table-cell-3 {
  border-style: double;
}

.u-section-1 .u-table-cell-4 {
  border-style: double;
}

.u-section-1 .u-table-cell-5 {
  border-style: double;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
  font-size: 1rem;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
  font-size: 1rem;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
  font-size: 1rem;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
  font-size: 1rem;
}

.u-block-03ca-61 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}